body {
    background-color: #f5f5f5;
}

.center-content {
    text-align: left;
    font-family: 'Lexend', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

h1 {
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

p, div {
    font-weight: 400;
    color: #555;
    line-height: 2;
    margin-bottom: 20px;
}

a {
    color: #0056b3;
    text-decoration: none;
    position: relative;
}

a:focus, a:hover {
    outline: 2px solid #0056b3;
    outline-offset: 2px;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

li {
    padding-left: 20px;
    position: relative;
}

li:before {
    content: '•';
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #333;
}

@media (max-width: 767px) {
    .center-content {
        padding: 20px 10px;
    }
    h1 {
        font-size: 24px;
    }
    p, div {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center-content {
        padding: 30px 15px;
    }
}

.phonetic {
    font-size: 95%;
    font-weight: 200;
    color: #999;
}
